<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width
 initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="head">
    <h2>Link Aggregator</h2>
  </div>
  <form action="/" method="post">
    <div class="fields">
      <input type="text" name="title" id="title" maxlength="60px" placeholder="Title">
      <input type="url" name="url" id="url" placeholder="http://www.something.com">
      <input type="submit" value="Add">
    </div>
  </form>
  <div class="container">
    <ul>
    </ul>
  </div>
  <script>
    function remove() {
      let itemToRemove = event.target.parentElement;
      itemToRemove.parentNode.removeChild(itemToRemove)
    }
  </script>
</body>
</html>
