.form-container {
  padding: 10px;
  min-height: 50px;
  text-align: center;
}

form {
  display: none;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  flex-direction: column;
  align-items: stretch;
}

.form-fields {
  display: flex;
  text-align: left;
  margin-bottom: 10px;
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
}

select {
  padding: 10px;
  background-color: #fff;
}

button {
  color: #fff;
  border: none;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #566573;
}

.buttons {
  display: flex;
  padding: 10px 0;
  justify-content: flex-end;
}

.showform {
  height: 50px;
  min-height: 50px;
  display: block;
}

.bt-shform {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
